body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.first-section-backgroung {
    background-image: url("images/header-bg.png");
    overflow:hidden;
    background-size: cover;
    background-position: bottom right;
    height: 800px;
}
.pink{
    color: #EC4C7A;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
    font-weight: bolder;
}

.first-section-half-left{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-top: 150px;
    margin-left: 225px;
}

.link-button{
    background-color: #EC4C7A;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.first-section-half-right-banner{
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 50px;
}
.first-section-half-right-banner img{
    margin-top: 80px;
    width: 550%;
}

.bio-section-backgroung {
    background-image: url("images/biography-bg.png");
    overflow:hidden;
    background-size: cover;
    background-position: bottom right;
    height: 800px;
}

.bio-section-half-left-banner img {
    margin-top: 80px;
    width: 500px;
    height: 600px;
    margin-left: 250px;
}

.bio-section-half-left-banner{
    width: 40%;
    float: left;
}

.bio-section-half-right {
    width: 500px;
    height: 20px;
    float: right;
    margin-right: 250px;
    margin-top: 190px;
}

.work-background{
    background-image: url("images/latest-work-bg.png");
    overflow:hidden;
    background-size: cover;
    background-position: bottom right;
    height: 800px;  
}
.work1-banner{
    width: 30%;
    float: left;
}
.work1-banner img{
    margin-top: 80px;
    width: 500px;
    height: 600px;
    margin-left: 250px;
}

.work2-banner{
    width: 30%;
    float: middle;
}
.work2-banner img{
    margin-top: 80px;
    width: 500px;
    height: 600px;
    margin-left: 250px;
}

.work3-banner{
    width: 30%;
    float: right;
}
.work3-banner img{
    margin-top: 80px;
    width: 500px;
    height: 600px;
    margin-left: 250px;
}
.footer-background{
    background-image: url("images/footer-bg.png");
    overflow:hidden;
    background-size: cover;
    background-position: bottom right;
    height: 800px; 
}
.testimonial{
    text-align: center;
    font-weight: bold;
}
.message{
    background-color: #EC4C7A;
    color: white;
    width: 800px;
    border-radius: 10px;
    height: 150px;
    padding-top: 75px;
}
.mail{
    font-size: 36px;
}
.footer-style{
    margin-top: 165px;
}